.goData button {
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    background-color: brown;
}

.bordes {
    border: 2px solid greenyellow;
}